<div class="footer-padding">
  <div class="footer">
    <p><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</p>
  </div>
</div>
</body>
</html>
